# Arbeitspaket (AP) 2: Management & Nutzung Temporale Daten

### Persönliche Angaben (bitte ergänzen)

<table>
  <tr>
    <td>Vorname:</td>
    <td></td>
  </tr>
  <tr>
    <td>Nachname:</td>
    <td></td>
  </tr>
  <tr>
    <td>Immatrikulationsnummer:</td>
    <td></td>
  </tr>
  <tr>
    <td>Modul:</td>
    <td>Data Science</td>
  </tr>
  <tr>
    <td>Prüfungsdatum / Raum / Zeit:</td>
    <td>07.10.2024 / Raum: SF O3.54 / 8:00 – 11:45</td>
  </tr>
  <tr>
    <td>Erlaubte Hilfsmittel:</td>
    <td>w.MA.XX.DS.24HS (Data Science)<br>Open Book, Eigener Computer, Internet-Zugang</td>
  </tr>
  <tr>
  <td>Nicht erlaubt:</td>
  <td>Nicht erlaubt ist der Einsatz beliebiger Formen von generativer KI (z.B. Copilot, ChatGPT) <br> sowie beliebige Formen von Kommunikation oder Kollaboration mit anderen Menschen.</td>
</tr>
</table>

## Bewertungskriterien

### <b style="color: gray;">(max. erreichbare Punkte: 48)</b>

<table>
  <thead>
    <tr>
      <th>Kategorie</th>
      <th>Beschreibung</th>
      <th>Punkteverteilung</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Code nicht lauffähig oder Ergebnisse nicht sinnvoll</td>
      <td>Der Code enthält Fehler, die verhindern, dass er ausgeführt werden kann (z.B. Syntaxfehler) oder es werden Ergebnisse ausgegeben, welche nicht zur Fragestellung passen.</td>
      <td>0 Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit gravierenden Mängeln</td>
      <td>Der Code läuft, aber die Ergebnisse sind aufgrund wesentlicher Fehler unvollständig (z.B. fehlende Joins, gravierende Fehler in SQL-Abfragen). Nur geringer Fortschritt erkennbar.</td>
      <td>25% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit mittleren Mängeln</td>
      <td>Der Code läuft und liefert teilweise korrekte Ergebnisse, aber es gibt grössere Fehler (z.B. fehlende Spalten, unvollständige SQL-Abfragen). Die Ergebnisse sind nachvollziehbar, aber unvollständig oder ungenau.</td>
      <td>50% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig, aber mit minimalen Mängeln</td>
      <td>Der Code läuft und liefert ein weitgehend korrektes Ergebnis, aber kleinere Fehler (z.B. falsche oder fehlende Sortierung, Rundung von Werten falsch) beeinträchtigen die Vollständigkeit des Ergebnisses.</td>
      <td>75% der max. erreichbaren Punkte</td>
    </tr>
    <tr>
      <td>Code lauffähig und korrekt</td>
      <td>Der Code läuft einwandfrei und liefert das korrekte Ergebnis ohne Mängel.</td>
      <td>100% der max. erreichbaren Punkte</td>
    </tr>
  </tbody>
</table>

## <b>Vorbereitung (Dieser Teil wird <u>nicht</u> bewertet!)</b>

#### <b>1.) Python Libraries und Settings importieren:</b>

In [7]:
# Libraries
import pandas as pd
import csv
from tinyflux import TinyFlux, Point, FieldQuery, TagQuery, TimeQuery
from datetime import datetime, timezone, timedelta

# Settings
import warnings
warnings.filterwarnings("ignore")

# Abkürzungen für Query-Typen
time = TimeQuery()
tags = TagQuery()
field = FieldQuery()

#### <b>2.) Funktion für die Erstellung eines Dataframes aus Query-Resultaten in den Arbeitsspeicher laden:</b>

In [8]:
# Define the function to transform the list of Point objects into a DataFrame
def points_to_dataframe(points_list):
    data = []
    
    # Extract the relevant information
    for point in points_list:
        data.append({
            "time": point.time,  # Access time attribute
            "sender_id": point.tags['sender_id'],  # Access sender_id from tags dictionary
            "receiver_id": point.tags['receiver_id'],  # Access receiver_id from tags dictionary
            "status": point.tags['status'],  # Access status from tags dictionary
            "amount": point.fields['amount'],  # Access amount from fields dictionary
            "fee": point.fields['fee']  # Access fee from fields dictionary
        })

    # Create a DataFrame
    df = pd.DataFrame(data)

    # Convert time to datetime
    df['time'] = pd.to_datetime(df['time'])

    return df

#### <b>3.) Starten Sie eine GitHub Codespaces Instanz auf Basis Ihres Forks des folgenden GitHub Repositories:</b>

##### GitHub-Repository: https://github.com/MariaPelli/tinyflux

#### <b>4.) Erstellen Sie mit Tinyflux eine Datenbank mit dem Namen "blockchain.db".</b>

In [9]:
# Erstellung der Tinyflux-Datenbank (wird bereitgestellt)
db = TinyFlux("blockchain.db")

## <b>Aufgaben: Erstellung der Datenbank und Einlesen der Daten (Dieser Teil wird bewertet!)</b>

#### <b>Aufgabe (1): Lesen Sie die CSV-Datei 'blockchain.csv' in ein Dataframe mit dem Namen "df" ein, zeigen Sie die ersten 10 Records und geben deskriptive Statistiken des Dataframes aus.</b>

<b>Details zur Aufgabenstellung:</b>

- Das Laden der CSV-Datei kann mittels der Pandas-Funktion "read_csv" (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) erfolgen
- Achten Sie darauf, den Zeitstempel mittels der Pandas-Funktion __df['timestamp']= pd.to_datetime(df['timestamp'], format='mixed')__ auf das Format datetime zu setzen (https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)
- Die ersten 10 Records können mittels der Pandas-Funktion "df.head()" wiedergegeben werden (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.head.html) 
- Deskriptive Statistiken können mittels Pandas-Funktion "df.describe()" (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html) wiedergegeben werden. Geben Sie diese für quantitative und kategoriale Variablen aus, indem Sie den Parameter include auf 'all' setzen.

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [ ]:
# CSV-Datei in Dataframe laden
df = pd.read_csv('synthetic_blockchain_transactions.csv')

# Das Format des Zeitstempels in Pandas setzen
df['time']= pd.to_datetime(df['time'], format='mixed')

In [14]:
# Erste 10 Records des Dataframes anzeigen
df.head()

                 time  sender_id  receiver_id    amount       fee     status
0 2023-01-01 00:00:00       1102         1876  8.620564  0.073109  confirmed
1 2023-01-01 08:44:41       1435         1004  8.445649  0.098132  confirmed
2 2023-01-01 17:29:22       1860         1118  3.191686  0.025727  confirmed
3 2023-01-02 02:14:03       1270         1800  8.289326  0.065452  confirmed
4 2023-01-02 10:58:44       1106         1373  0.371039  0.019890    pending

In [36]:
df.describe()

,time,sender_id,receiver_id,amount,fee
count,1000,1000.000000,1000.00000,1000.000000,1000.000000
mean,2023-07-01 23:59:59.513999872,1503.929000,1493.90800,5.028441,0.050322
min,2023-01-01 00:00:00,1000.000000,1000.00000,0.033179,0.000101
25%,2023-04-01 23:59:59.750000128,1242.750000,1227.75000,2.403905,0.027109
50%,2023-07-01 23:59:59.500000,1505.000000,1500.00000,5.138016,0.050444
75%,2023-09-30 23:59:59.249999872,1757.250000,1763.75000,7.567064,0.075713
max,2023-12-31 00:00:00,1998.000000,1997.00000,9.994138,0.099782
std,NaN,289.998108,298.60317,2.918927,0.028898

#### <b>Aufgabe (2): Schreiben Sie den Inhalt der CSV-Datei 'blockchain.csv' in die erstellte Tinyflux-Datenbank "blockchain.db" und weisen sie Time, Fields und Tags zu.</b>

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [19]:
# Read CSV and insert data into TinyFlux
with open("synthetic_blockchain_transactions.csv", mode="r") as file:
    reader = csv.DictReader(file)
    for row in reader:
        point = Point(
            time=datetime.strptime(row["time"], "%Y-%m-%d %H:%M:%S"),
            measurement="blockchain_transactions",
            fields={
                "amount": float(row["amount"]),
                "fee": float(row["fee"])
                },  # Only numeric fields
            tags={
                "sender_id": row["sender_id"],
                "receiver_id": row["receiver_id"],
                "status": row["status"]  # Move non-numeric fields to tags
            }
        )
        db.insert(point)

#### <b>Aufgabe (3): Fügen Sie die folgenden vier Transaktionen manuell in die Datenbank ein und weisen Sie Time, Fields und Tags gleichermassen zu, wie beim Inhalt der CSV-Datei.</b>

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

| timestamp | sender_id | receiver_id | amount | fee | status |
| --- | --- | --- | --- | --- | --- |
| 2024-01-01 00:00:00 | 1700 | 1000 | 4.596327 | 0.064793 | confirmed |
| 2024-01-01 07:00:00 | 1800 | 2000 | 7.463891 | 0.034658 | confirmed |
| 2024-01-01 08:00:00 | 1900 | 3000 | 3.546987 | 0.075311 | pending |
| 2024-01-01 09:00:00 | 2000 | 4000 | 1.347962 | 0.942864 | pending |

In [22]:
# Einlesen von manuellen Records
p1 = Point(
    time=datetime(2024, 1, 1, 0, 0, 0, tzinfo=timezone.utc),
    tags={"sender_id": "1700", "receiver_id": "1000", "status": "confirmed"},
    fields={"amount": 4.596327, "fee": 0.064793}
)

p2 = Point(
    time=datetime(2024, 1, 1, 7, 0, 0, tzinfo=timezone.utc),
    tags={"sender_id": "1800", "receiver_id": "2000", "status": "confirmed"},
    fields={"amount": 7.463891, "fee": 0.034658}
)

p3 = Point(
    time=datetime(2024, 1, 1, 8, 0, 0, tzinfo=timezone.utc),
    tags={"sender_id": "1900", "receiver_id": "2000", "status": "pending"},
    fields={"amount": 3.546987, "fee": 0.075311}
)

p4 = Point(
    time=datetime(2024, 1, 1, 9, 0, 0, tzinfo=timezone.utc),
    tags={"sender_id": "2000", "receiver_id": "4000", "status": "pending"},
    fields={"amount": 1.347962, "fee": 0.942864}
)

db.insert_multiple([p1, p2, p3, p4])

4

<div style="background-color: #F0EAD6;">

#### <b> Hinweis! 

#### Falls etwas mit der Erstellung der Datenbank nicht funktioniert, verwenden Sie für die folgenden Aufgaben die Tinyflux Datenbank 'blockchain_fallback.db'. Gehen Sie davon aus, dass diese unter denselben, obigen Bedingungen erstellt wurde.</b>
    
#### <b>Erstellen der Verbindung mit der Tinyflux-Datenbank mit dem Namen "blockchain_fallback.db":</b>
</div>

In [23]:
# Erstellung der Tinyflux-Datenbank (wird bereitgestellt)
db = TinyFlux("blockchain_fallback.db")

## <b>Aufgaben: Abfragen (Queries) (Dieser Teil wird bewertet!)</b>

<b style="color:blue;">Hinweise zu den folgenden Aufgabenstellungen:</b>
<ul style="color:blue;">
  <li>Erstellen Sie je Aufgabe eine Time-, Field- oder Tag Abfrage bzw. eine Kombination von diesen und integrieren Sie diese in Ihren Python Code.</li>
  <li>Speichern Sie je Aufgabe die Ergebnistabelle mittels der zu Beginn dieses Notebooks bereitgestellten Funktion <b>points_to_dataframe</b> in einem DataFrame und stellen Sie diesen bzw. dessen Eigenschaften ganz oder in Teilen (z.B. erste 5 Zeilen) dar.</li>
</ul>

#### <b>Aufgabe (4): Geben Sie die vier zuletzt, manuell hinzugefügten Records aus</b>

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [27]:
# Definieren der Query
time_query_condition1 = time <= datetime(2024, 1, 1, 9, 0, 0, tzinfo=timezone.utc)

time_query_condition2 = time >= datetime(2024, 1, 1, 0, 0, 0, tzinfo=timezone.utc)

# Datenabfrage mittels der definierten Query
my_results = db.search(time_query_condition1 & time_query_condition2)

# Erstellung eines Dataframes aus den Query-Resultaten
df_result_time_field_2 = points_to_dataframe(my_results)

df_result_time_field_2

,time,sender_id,receiver_id,status,amount,fee
0,2024-01-01 00:00:00+00:00,1700,5000,confirmed,4.596327,0.064793
1,2024-01-01 00:00:00+00:00,1700,1000,confirmed,4.596327,0.064793
2,2024-01-01 07:00:00+00:00,1800,6000,confirmed,7.463891,0.034658
3,2024-01-01 07:00:00+00:00,1800,2000,confirmed,7.463891,0.034600
4,2024-01-01 08:00:00+00:00,1900,7000,pending,3.546987,0.075311
5,2024-01-01 08:00:00+00:00,1900,3000,pending,3.546987,0.075311
6,2024-01-01 09:00:00+00:00,2000,8000,pending,1.347962,0.942864
7,2024-01-01 09:00:00+00:00,2000,4000,pending,1.347962,0.942864

#### <b>Aufgabe (5): Ermitteln Sie, welche Sender bereits vor dem manuell eingetragenen Zeitraum Transaktionen in Auftrag gegeben hatten</b>

<b style="color: gray;">(max. erreichbare Punkte: 4)</b>

In [28]:
# Definieren der Queries
timerquery = (time <= datetime(2024, 1, 1, 0, 0, 0, tzinfo=timezone.utc))
tag1 = (tags.sender_id == "1700")
tag2 = (tags.sender_id == "1800")
tag3 = (tags.sender_id == "1900")
tag4 = (tags.sender_id == "2000")

# Datenabfrage mittels der definierten Queries
abfrage = db.search(timerquery & (tag1 | tag2 | tag3 | tag4))

# Erstellung eines Dataframes aus den Query-Resultaten
df_result = points_to_dataframe(abfrage)
df_result

,time,sender_id,receiver_id,status,amount,fee
0,2023-01-03 03:28:06+00:00,1700,1145,confirmed,2.300858,0.046447
1,2023-01-03 04:28:06+00:00,1700,1145,confirmed,2.300858,0.046447
2,2023-06-01 20:33:30+00:00,1800,1839,failed,4.438058,0.083382
3,2023-06-01 22:33:30+00:00,1800,1839,failed,4.438058,0.083382
4,2024-01-01 00:00:00+00:00,1700,5000,confirmed,4.596327,0.064793
5,2024-01-01 00:00:00+00:00,1700,1000,confirmed,4.596327,0.064793

#### <b>Aufgabe (6): Ermitteln Sie für das Jahr 2023 die Anzahl Transaktionen pro Quartal</b>

<b>Details zur Aufgabenstellung:</b>
- Die Anzahl Transaktionen kann mittels len(df_result), angewendet auf das Dataframe oder die Rohausgabe des Queries, herausgegeben werden

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>


Quartal	Monate	Quartalsbeginn	Quartalsende	Dauer
I	Januar, Februar und März	1. Januar	31. März	90 Tage, in Schaltjahren 91 Tage
II	April, Mai und Juni	1. April	30. Juni	91 Tage
III	Juli, August und September	1. Juli	30. September	92 Tage
IV	Oktober, November und Dezember	1. Oktober	31. Dezember	92 Tage

In [33]:
# Definieren der Queries
q1 = ((time >= datetime(2023, 1, 1, tzinfo=timezone.utc)) & (time <= datetime(2023, 3, 31, tzinfo=timezone.utc)))
q2 = ((time >= datetime(2023, 4, 1, tzinfo=timezone.utc)) & (time <= datetime(2023, 6, 30, tzinfo=timezone.utc)))
q3 = ((time >= datetime(2023, 7, 1, tzinfo=timezone.utc)) & (time <= datetime(2023, 9, 30, tzinfo=timezone.utc)))
q4 = ((time >= datetime(2023, 10, 1, tzinfo=timezone.utc)) & (time <= datetime(2023, 12, 31, tzinfo=timezone.utc)))



# Datenabfrage mittels der definierten Queries
q1res = db.search(q1)
q2res = db.search(q2)
q3res = db.search(q3)
q4res = db.search(q4)

# Erstellung eines Dataframes aus den Query-Resultaten
dff1 = points_to_dataframe(q1res)
dff2 = points_to_dataframe(q2res)
dff3 = points_to_dataframe(q3res)
dff4 = points_to_dataframe(q4res)

# Ausgabe der aggregierten Resultate
print("\nQ1:")
print(len(dff1))
print("\nQ2:")
print(len(dff2))
print("\nQ3:")
print(len(dff3))
print("\nQ4:")
print(len(dff4))

Q1:
489

Q2:
494

Q3:
500

Q4:
500

#### <b>Aufgabe (7): Ermitteln Sie den durchschnittlichen Amount-Betrag pro Status</b>

<b>Details zur Aufgabenstellung:</b>
- Alle im Datensatz vorhandenen Status können Sie mittels der Pandas-Funktion "df.attributname.unique()" (https://pandas.pydata.org/docs/reference/api/pandas.unique.html) ermitteln
- Den Durchschnitt über eine Spalte können Sie mittels der Pandas-Funktion df[['spaltenname']].mean() https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.mean.html ermitteln

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [34]:
df.status.unique()

array(['confirmed', 'pending', 'failed'], dtype=object)

In [35]:
# Definieren der Queries
tag1 = (tags.status == "confirmed")
tag2 = (tags.status == "pending")
tag3 = (tags.status == "failed")

# Datenabfrage mittels der definierten Queries
my_results1 = db.search(tag1)
my_results2 = db.search(tag2)
my_results3 = db.search(tag3)


# Erstellung eines Dataframes aus den Query-Resultaten
df1 = points_to_dataframe(my_results1)
df2 = points_to_dataframe(my_results2)
df3 = points_to_dataframe(my_results3)


# Ausgabe der aggregierten Resultate
print(df1[["amount"]].mean())
print(df2[["amount"]].mean())
print(df3[["amount"]].mean())

amount    5.033816
dtype: float64
amount    4.944302
dtype: float64
amount    5.262778
dtype: float64

#### <b>Aufgabe (8): Ermitteln Sie pro Quartal für das Jahr 2023 die Anzahl Transaktionen, die höhere Gebühren (fee) aufweisen, als der Median von fee.</b>

<b>Details zur Aufgabenstellung:</b>
- Die Anzahl Transaktionen kann mittels len(df_result), angewendet auf das Dataframe oder die Rohausgabe des Queries, herausgegeben werden
- Der Median ist den zu Beginn dieses Notebooks erstellten, deskriptiven Statistiken (50%) ausgeführt

<b style="color: gray;">(max. erreichbare Punkte: 8)</b>

In [38]:
# Definieren der Queries
q1 = ((time >= datetime(2023, 1, 1, tzinfo=timezone.utc)) & (time <= datetime(2023, 3, 31, tzinfo=timezone.utc)))
q2 = ((time >= datetime(2023, 4, 1, tzinfo=timezone.utc)) & (time <= datetime(2023, 6, 30, tzinfo=timezone.utc)))
q3 = ((time >= datetime(2023, 7, 1, tzinfo=timezone.utc)) & (time <= datetime(2023, 9, 30, tzinfo=timezone.utc)))
q4 = ((time >= datetime(2023, 10, 1, tzinfo=timezone.utc)) & (time <= datetime(2023, 12, 31, tzinfo=timezone.utc)))

p = (field.fee > 0.05044)
# Datenabfrage mittels der definierten Queries
q1s = db.search(q1 & p)
q2s = db.search(q2 & p)
q3s = db.search(q3 & p)
q4s = db.search(q4 & p)


# Erstellung eines Dataframes aus den Query-Resultaten
d1 = points_to_dataframe(q1s)
d2 = points_to_dataframe(q2s)
d3 = points_to_dataframe(q3s)
d4 = points_to_dataframe(q4s)


# Ausgabe der aggregierten Resultate

print(len(d1))
print(len(d2))
print(len(d3))
print(len(d4))

269
234
228
264

### Jupyter notebook --footer info-- (please always provide this at the end of each notebook)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('IP Address:', socket.gethostbyname(socket.gethostname()))
print('-----------------------------------')